@font-face {
    font-family: "Longjf Nerd Font";
    src: "../fonts/LONGJF-NF-REGULAR.OTF";
}

@font-face {
    font-family: "LXGWZhenKai";
    src: url("../fonts/LXGWZhenKai.ttf");
}

@font-face {
    font-family: "PingFang";
    src: url("../fonts/PINGFANG-MEDIUM.TTF");
}

@font-face {
    font-family: "PingFang-Bold";
    src: url("../fonts/PINGFANG-BOLD.TTF");
}